<section id="about">
  <div class="about">
    <div class="main-title">
      <h1>Who am i</h1>
    </div>
    <!-- info -->
    <div class="content">
    <section class="block">
      <div class="profile mbsmall">
        <h1> Alexaner Munck af Rosenschöld</h1>
        <h3> Web designer / Web developer </h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>I am a self taught web developer and can program in HTML5, CSS, Javascript and Ruby on Rails. I enjoy the process of developing websites in innovative enviroments with dynamic individuals. I am looking for an opportunity to add value and contribute to a great company mission and vision as a junior developer.</p>
          <div class="divider"></div>

        <p>A <b>Krav Maga</b> Master, Major <b>coffee</b> drinker, Avid traveling suitcase who seeks adventures and takes <b>coding</b> to a whole new level.</p>
        <p> So let’s just say I take errors and solve problems. I’m energized by making sure every dot and comma is in the right place</p>
        <p> <b>That being said</b>, Let’s make some beautiful solutions and engaging experiences.</p>
        </div>
        <div class="col-md-6">
          <ul class="tags">
            <li>I create workable websites, and oh and I love to watch game of thrones!</li>
            <li>Bringing up unique expereinces for viewers plus I make electronic music.</li>
            <li>Building things that inspire me and I believe that simple is the way to go.</li>
            <li>Persisting to the last drop of code to finish. I build things on a computer screen.</li>
          </ul>
        </div>
      </div> <!-- end row -->
      <div class="block user-info">
        <div class="row">
        <div class="col-md-6">
          <ul class="info-list">
            <li>
              <span class="inf">Name</span>
              <span class="value">Alexander Munck</span>
            </li>
            <li>
              <span class="inf">Date of birth</span>
              <span class="value">July 13, 1987</span>
            </li>
            <li>
              <span class="inf">Adress</span>
              <span class="value">Engelbrektsgatan 13a</span>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <ul class="info-list">
            <li>
              <span class="inf">Email</span>
              <span class="value">Yumako87@gmail.com</span>
            </li>
            <li>
              <span class="inf">Phone</span>
              <span class="value">+46 733 81 64 35</span>
            </li>
            <li>
              <span class="inf">Github</span>
              <span class="value">Github.com/Muncken87</span>
            </li>
          </ul>
        </div>
      </div> <!-- end second row -->
    </div>
  </section>
 </div> <!-- end about -->
 <!-- start skills -->
 <div class="main-title">
 		<h1>Professional skills</h1>
 </div>
 <div class="content">
   <div class="block-content margBMedium">
     <div class="skill des">
       <div class="row">
        <div class="vc">
          <div class="col-md-11">
            <ul class="skills-list">
            <li>
              <h4>Photoshop</h4>
              <div class="progress">
                <div class="percentage" style="width: 60%;"></div>
              </div>
            </li>
            <li>
            <h4>Illustrator</h4>
            <div class="progress">
              <div class="percentage" style="width: 40%;"></div>
            </div>
            </li>
          </ul>
        </div>
          <div class="col-md-1">
            <div class="title des">
              <span>design</span>
            </div>
          </div>
        </div>
       </div>
     </div> <!-- end skill des -->
   </div> <!-- end block-content -->
   <div class="block-content margBMedium">
     <div class="skill cod">
       <div class="row">
        <div class="vc">
          <div class="col-md-11">
            <ul class="skills-list">
            <li>
              <h4>Ruby on Rails</h4>
              <div class="progress">
                <div class="percentage" style="width: 70%;"></div>
              </div>
            </li>
            <li>
            <h4>Ruby</h4>
            <div class="progress">
              <div class="percentage" style="width: 40%;"></div>
            </div>
            </li>
            <li>
              <h4>Html/Sass</h4>
              <div class="progress">
                <div class="percentage" style="width: 90%;"></div>
              </div>
            </li>
            <li>
              <h4>Jekyll</h4>
              <div class="progress">
                <div class="percentage" style="width: 70%;"></div>
              </div>
            </li>
            <li>
              <h4>Angular</h4>
              <div class="progress">
                <div class="percentage" style="width: 30%;"></div>
              </div>
            </li>
            <li>
              <h4>Javascript</h4>
              <div class="progress">
                <div class="percentage" style="width: 70%;"></div>
              </div>
            </li>
          </ul>
        </div>
          <div class="col-md-1">
            <div class="title cod">
              <span>coding</span>
            </div>
          </div>
        </div>
       </div>
     </div> <!-- end skill des -->
   </div> <!-- end block-content -->
 </div>
<div class="main-title">
<!-- Start work experience -->
<h1>Experience</h1>
</div>
<!-- work experience -->
<div class="content">
<div class="block-content">
  <div class="timeline experience">
    <div class="row">
      <div class="col-md-12">
        <!-- exp holder -->
        <div class="exp-holder margTop">
          <div class="exp">
            <div class="hgroup">
              <h4>Web Development Mentor  – Careerfoundry GmhB </h4>
              <h6><i class="icon-calendar"></i>2016 Jul - <span class="current">Current</span></h6>
            </div>
            <p>
                - Providing guidance and mentoring for students for the Full-Stack Web Development course at careerfoundry
                - Helping students with their problems and questions  for  the course, programming and career
                - Staying up to date with course topics and knowledge related to Frontend (HTML5, CSS3, Javascript/JQuery, AngularJS) and Ruby on Rails development 
            </p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>Wayne Fueling Systems – Fuel Dispenser Tester </h4>
              <h6><i class="icon-calendar"></i>2012 Jul - <span class="current">Current</span></h6>
            </div>
            <p>Function - Responsible for testing fuel dispenser, calibrate it and check that everything is working for our customers. </p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>WebDeveloper – Freelance </h4>
              <h6><i class="icon-calendar"></i>Jul 2016 - <span class="current">Current</span></h6>
            </div>
            <p>Working as a freelancer and looking for new opportunities.</p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>WebDeveloper – Sponsorhjälpen Internship </h4>
              <h6><i class="icon-calendar"></i>Jan 2015 - May 2015></h6>
            </div>
            <p>I was responsible for building and designing websites for our different clients.Working with Wordpress, Html, Css and Javascript</p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>WebDeveloper – Modifinder Internship </h4>
              <h6><i class="icon-calendar"></i>Jul 2014 - Oct 2014</h6>
            </div>
            <p>I worked as a webdesigner here, building websites for local clients, main focus was SEO in mind. Worked with bootstrap, Html, Css, javascript mainly.
            </p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>WebDesigner – Casablanca Advertising </h4>
              <h6><i class="icon-calendar"></i>Jan 2009 - March 2009</h6>
            </div>
            <p>Function Webdesign, Illustrator and Photoshop, My responsibility was building websites, aswell as creating illustrations with photoshop and illustrator.
            </p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>WebDesigner – Kalbynet </h4>
              <h6><i class="icon-calendar"></i>Jan 2008 - feb 2008 </h6>
            </div>
            <p>Internship during my studies for a programmer, worked alot with Joomla CMS.</p>
            </p>
          </div> <!-- end exp -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="main-title">
<!-- Start education-->
<h1>Education</h1>
</div>
<div class="content">
<div class="block-content">
  <div class="timeline education">
    <div class="row">
      <div class="col-md-12">
        <!-- exp holder -->
        <div class="exp-holder margTop">
          <div class="exp">
            <div class="hgroup">
              <h4>Web Development at CareerFoundry</h4>
              <h6><i class="icon-calendar"></i>Jan 2015 - May 2015 </h6>
            </div>
            <p>I used the project-based curriculum at Career Foundry to complete a dynamic responsive website and a production-ready consumer web application that was made using Ruby on Rails.</p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>Yonsei University in Seoul, Korea </h4>
              <h6><i class="icon-calendar"></i>2012 - 2013 </h6>
            </div>
            <p>Korean language studies
            </p>
          </div> <!-- end exp -->
          <div class="exp">
            <div class="hgroup">
              <h4>Certified programmer at Ekbackeskolan </h4>
              <h6><i class="icon-calendar"></i>2007 - 2009 </span></h6>
            </div>
            <p>In Osby, Sweden
            </p>
          </div> <!-- end exp -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="main-title">
<!-- Start education-->
<h1>Testimonials</h1>
</div>
<div class="content">
<div class="block-content">
  <div class="testimonials">
    <div class="row">
      <div class="col-md-12">
        <div class="quote">
          <div class="block-img"><img alt="" src="img/testimonial.jpg"></div>
          <h3 class="block-profile">Islam Wazery<span> Mentor/ Careerfoundry</span></h3>
          <blockquote><p>I mentored Alexander in his CareerFoundry course, he was very talented, throughout the course, he kept searching for any problem he ran into, and he was very self reliant, his project was perfect in both design and code.</p>

          <p>His progress and learning curve were both perfect. Every task he was supposed to do was having some extra work by him, as he paid great attention to details and to making the overall work mature enough, not just to be a student work.</p>

          <p>Also his motivation for learning web development was great, he was always ahead of the course, and he finished it in a good time. I never needed to contact him for his progress, or ask him to do more, he was doing more than of the course projects, as he did some side projects as well.</p>

          <p>Actually his course projects can be compared to projects from professional software houses that have professional developers.
          I definitely recommend Alexander as a web developer as he is a great self learner, and he will get the job done, because he knows well how to search and learn new stuff.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
