<section id="contact">
  <div class="main-title">
    <!-- Start Portfolio -->
    <h1>Map Location</h1>
  </div>
    <div class="content">
      <div class="block-content">
        <div class="block-map">
          <div class="row">
            <div class="col-md-12">
              <div id="map">

            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="main-title">
    <!-- Start Portfolio -->
    <h1>Contact</h1>
  </div>
  <div class="content">
    <div class="block-content">
      <div class="block-info">
        <div class="row">
          <div class="col-md-12">
            <div class="info-holder   margTMedium">
            <!--Address info-->
            <div class="address-info">
              <i class="glyphicon glyphicon-globe"></i>
              <p>Engelbrektsgatan 13a <br>Malmö 21133</p>
            </div>
            <!--End address info-->
            <!--Contact info-->
            <div class="contact-info tCenter">
              <ul>
                <li><div class="ico"><i class="icon-mail"></i></div>
                <p>Email : yumako87@gmail.com </p></li>
                <li><div class="ico"><i class="glyphicon glyphicon-earphone"></i></div>
                <p>Tel : +46 733 81 64 35</p></li>
                <li><div class="ico"><i class="glyphicon glyphicon-link"></i></div>
                <p>WebSite : <a href="#">www.spintail.se</a></p></li>
              </ul>
            </div>
            <!--End contact info-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
