<div class="col-md-3">
  <header class="sidebar-header">
    <figure class="img-profile">
      <img src="img/avatar.jpg"/>
    </figure>
    <navbar class="sidebar-nav">
      <ul>
        <li><a href="#about">ABOUT
          <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        </a>
      </li>
        <li><a href="#portfolio">PORTFOLIO
          <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
        </a>
      </li>
        <li><a href="#contact">CONTACT
        <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>
      </a>
    </li>
      </ul>
    </navbar>
      <div class="bottom-header bgWhite ofsTSmall ofsBSmall tCenter">
        <ul class="social">
          <li><a href="mailto:yumako87@gmail.com"><i class="icon-mail"></i></a></li>
          <li><a href="https://github.com/Muncken87"><i class="icon-github"></i></a></li>
          <li><a href="https://se.linkedin.com/in/alexander-munck-af-rosenschöld-05a899a7"><i class="icon-linkedin"></i></a></li>
        </ul>
      </div>
  </header>
</div>
